/* universal style */

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin: 100px;
}
/* banner style */
.banner-img {
  height: 600px;
  background-image: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.banner {
  width: 450px;
  color: #fff;
  text-align: right;
  margin-left: 650px;
  padding-top: 170px;
}

.banner-title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
}

.banner-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.primary-btn {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid blue;
}
.primary-btn:hover{
  background-color: #0087f5;
  transition: 0.8s;
  color: #fff;
  border: 2px solid #fff;

}
/* failures-section style */

.failures-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.failures-img {
  width: 400px;
  height: 800px;
}

.failures-discription {
  width: 400px;
  padding-top: 250px;
}

.failures-title {
  color: var(--Dark-01, #151414);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.failures-text {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.failures-list {
  margin-left: 15px;
  line-height: 25px;
}

/* my plan style */

.plan-title {
  text-align: center;
}

.plan-container {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  margin-top: 70px;
}

.container-item {
  text-align: center;
}
.container-item h3 {
  padding-bottom: 10px;
  margin-top: 10px;
}

/* awlays-section style */

.awlays-section {
  margin-top: 100px;
  background-image: url("./images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
.awlays-discription {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: #fff;
}

.awlays-discription h1 {
  margin-bottom: 20px;
}

/* future section style */

.future {
  display: flex;
  justify-content: space-between;
  background-color: #151414;
  color: #fff;
  padding: 100px;
}

.future-content p {
  width: 500px;
  margin-bottom: 15px;
}
.future-content h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.future-content img {
  padding-right: 15px;
}

.email {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
